In [70]:
import pandas as pd
import numpy as np

In [71]:
data = pd.read_csv('/home/codetrade/Downloads/Bangaluru_update_dataset.csv')

In [72]:
data.head()

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,₹39.07
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,₹120.0
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,₹62.0
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,₹95.0
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,₹51.0

In [75]:
import pandas as pd
data['price'] = data['price'].str.replace('₹', '')

data['price'] = data['price'].astype(float)

In [76]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,62.00
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.00
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.00
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00

In [77]:
features = data['price']

In [78]:
features.max()

2912.0

In [79]:
features.mean()

107.63129708658187

In [80]:
features.min()

8.0

In [81]:
new = features.dtype
print(new)

float64

In [82]:
features.describe()

count    12185.000000
mean       107.631297
std        134.022372
min          8.000000
25%         50.000000
50%         70.000000
75%        115.000000
max       2912.000000
Name: price, dtype: float64

In [84]:
import pandas as pd

bins = [0, 50, 100, 150, float('inf')]
labels = ['cheap', 'moderate', 'expensive', 'very expensive']

data['price_category'] = pd.cut(features, bins=bins, labels=labels, right=False)

print(data['price_category'])

0                 cheap
1             expensive
2              moderate
3              moderate
4              moderate
              ...
12180             cheap
12181         expensive
12182    very expensive
12183          moderate
12184    very expensive
Name: price_category, Length: 12185, dtype: category
Categories (4, object): ['cheap' < 'moderate' < 'expensive' < 'very expensive']

In [85]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07,cheap
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00,expensive
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,62.00,moderate
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00,moderate
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,51.00,moderate
...,...,...,...,...,...,...,...,...,...,...
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.00,cheap
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.00,expensive
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00,very expensive
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00,moderate
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00,very expensive

In [86]:
# Use qcut to automatically create categories based on 'price' column
data['price_category2'] = pd.qcut(features, q=4, labels=['low', 'medium', 'high', 'very high'])

print(data)

      House Type availability                  location  bhk       society  \
0           Flat           no  Electronic City Phase II  2.0       Coomee
1          House          yes          Chikka Tirupathi  4.0       Theanmp
2          House          yes               Uttarahalli  3.0  Not Provided
3           Flat          yes        Lingadheeranahalli  3.0       Soiewre
4           Flat          yes                  Kothanur  2.0  Not Provided
...          ...          ...                       ...  ...           ...
12180       Flat          yes                 Bellandur  2.0  Not Provided
12181       Flat          yes         Green Glen Layout  3.0       SoosePr
12182      House          yes                Whitefield  5.0       ArsiaEx
12183      House          yes     Raja Rajeshwari Nagar  2.0       Mahla T
12184       Flat           no           Padmanabhanagar  4.0       SollyCl

      total_sqft  bath  balcony   price  price_category price_category2
0           1056   2.0      1.0   39.07           cheap             low
1           2600   5.0      3.0  120.00       expensive       very high
2           1440   2.0      3.0   62.00        moderate          medium
3           1521   3.0      1.0   95.00        moderate            high
4           1200   2.0      1.0   51.00        moderate          medium
...          ...   ...      ...     ...             ...             ...
12180       1262   2.0      2.0   47.00           cheap             low
12181       1715   3.0      3.0  112.00       expensive            high
12182       3453   4.0      0.0  231.00  very expensive       very high
12183       1141   2.0      1.0   60.00        moderate          medium
12184       4689   4.0      1.0  488.00  very expensive       very high

[12185 rows x 11 columns]

In [87]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07,cheap,low
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00,expensive,very high
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,62.00,moderate,medium
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00,moderate,high
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,51.00,moderate,medium
...,...,...,...,...,...,...,...,...,...,...,...
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.00,cheap,low
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.00,expensive,high
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00,very expensive,very high
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00,moderate,medium
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00,very expensive,very high

In [89]:
# Automatically define labels based on 'price' column
data['price_category3'] = pd.cut(data['price'], bins=4, precision=2, labels=False)
labels = ['low', 'medium', 'high', 'very high']
data['price_category3'] = data['price_category3'].map(lambda x: labels[x])

In [90]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07,cheap,low,low
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00,expensive,very high,low
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,62.00,moderate,medium,low
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00,moderate,high,low
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,51.00,moderate,medium,low
...,...,...,...,...,...,...,...,...,...,...,...,...
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.00,cheap,low,low
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.00,expensive,high,low
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00,very expensive,very high,low
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00,moderate,medium,low
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00,very expensive,very high,low

In [91]:
data.tail()

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.0,cheap,low,low
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.0,expensive,high,low
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.0,very expensive,very high,low
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.0,moderate,medium,low
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.0,very expensive,very high,low

In [92]:
data.max()

House Type                  House
availability                  yes
location               whitefiled
bhk                          43.0
society                   i1rtsCo
total_sqft                    999
bath                         40.0
balcony                       3.0
price                      2912.0
price_category     very expensive
price_category2         very high
price_category3         very high
dtype: object

In [100]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07,cheap,low,low
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00,expensive,very high,low
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,62.00,moderate,medium,low
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00,moderate,high,low
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,51.00,moderate,medium,low
...,...,...,...,...,...,...,...,...,...,...,...,...
12180,Flat,yes,Bellandur,2.0,Not Provided,1262,2.0,2.0,47.00,cheap,low,low
12181,Flat,yes,Green Glen Layout,3.0,SoosePr,1715,3.0,3.0,112.00,expensive,high,low
12182,House,yes,Whitefield,5.0,ArsiaEx,3453,4.0,0.0,231.00,very expensive,very high,low
12183,House,yes,Raja Rajeshwari Nagar,2.0,Mahla T,1141,2.0,1.0,60.00,moderate,medium,low
12184,Flat,no,Padmanabhanagar,4.0,SollyCl,4689,4.0,1.0,488.00,very expensive,very high,low

In [101]:
features.describe()

count    12185.000000
mean       107.631297
std        134.022372
min          8.000000
25%         50.000000
50%         70.000000
75%        115.000000
max       2912.000000
Name: price, dtype: float64

In [104]:
prices = data['price']

# categories the price features based on the all data percentage like min-25%, 26%-50%, 51%-75%, 76%-max  in the give data in the features

In [122]:
def categorize_prices(prices):
    # Step 1: Sort the data in ascending order
    sorted_prices = np.sort(prices)

    # Step 2: Calculate the quartiles (percentiles)
    q1 = np.percentile(sorted_prices, 25)
    q2 = np.percentile(sorted_prices, 50)
    q3 = np.percentile(sorted_prices, 75)

    # Step 3: Define the categories
    categories = {
        'Category 1 (min-Q1)': f"{sorted_prices[0]}-{q1}",
        'Category 2 (Q1-Q2)': f"{q1 + 1}-{q2}",
        'Category 3 (Q2-Q3)': f"{q2 + 1}-{q3}",
        'Category 4 (Q3-max)': f"{q3 + 1}-{sorted_prices[-1]}"
    }
    return categories

result = categorize_prices(features)
for category, price_range in result.items():
    print(f"{category}: {price_range}")
data['results'] = pd.qcut(features, q=4, labels=['Category 1 (min-Q1)', 'Category 2 (Q1-Q2)', 'Category 3 (Q2-Q3)', 'Category 4 (Q3-max)'])

Category 1 (min-Q1): 8.0-50.0
Category 2 (Q1-Q2): 51.0-70.0
Category 3 (Q2-Q3): 71.0-115.0
Category 4 (Q3-max): 116.0-2912.0

In [143]:
import numpy as np

def categorize_prices(prices, user_input):
    # Step 1: Sort the data in ascending order
    sorted_prices = np.sort(prices)

    # Step 2: Calculate the quartiles (percentiles)
    q1 = np.percentile(sorted_prices, 35)
    q2 = np.percentile(sorted_prices, 60)
    q3 = np.percentile(sorted_prices, 85)
    

    # Step 3: Define the categories
    categories = {
        'Category 1 (min-Q1)': f"{sorted_prices[0]}-{q1}",
        'Category 2 (Q1-Q2)': f"{q1 + 1}-{q2}",
        'Category 3 (Q2-Q3)': f"{q2 + 1}-{q3}",
        'Category 4 (Q3-max)': f"{q3 + 1}-{sorted_prices[-1]}"
    }

    # Step 4: Find the category to which the user input belongs
    input_category = None
    user_price = float(user_input)
    
    if user_price <= q1:
        input_category = 'Category 1 (min-Q1)'
    elif q1 < user_price <= q2:
        input_category = 'Category 2 (Q1-Q2)'
    elif q2 < user_price <= q3:
        input_category = 'Category 3 (Q2-Q3)'
    else:
        input_category = 'Category 4 (Q3-max)'

    return categories, input_category

user_input_price = input("Enter the price: ")
result, user_category = categorize_prices(features, user_input_price)

print("Categories:")
for category, price_range in result.items():
    print(f"{category}: {price_range}")

print(f"User input belongs to: {user_category}")

Enter the price: 55
Categories:
Category 1 (min-Q1): 8.0-57.0
Category 2 (Q1-Q2): 58.0-83.09
Category 3 (Q2-Q3): 84.09-160.0
Category 4 (Q3-max): 161.0-2912.0
User input belongs to: Category 1 (min-Q1)

In [132]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3,percentage_price,results,counts_in_category
9696,Flat,yes,Yelahanka New Town,1.0,KHatsFl,284,1.0,1.0,8.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
7942,House,yes,Chandapura,1.0,Not Provided,450,1.0,1.0,9.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
1390,House,no,Kengeri,1.0,Not Provided,340,1.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
6940,Flat,yes,Alur,1.0,Not Provided,470,2.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
11539,Flat,yes,Chandapura,1.0,Not Provided,410,1.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492,House,yes,5th Block Jayanagar,4.0,Not Provided,10624,4.0,2.0,2340.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
2989,Flat,yes,Shanthala Nagar,5.0,Kierser,8321,5.0,3.0,2700.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
10800,House,yes,Sadashiva Nagar,5.0,Not Provided,9600,7.0,2.0,2736.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
12083,House,yes,Defence Colony,6.0,Not Provided,8000,6.0,3.0,2800.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
10187,Flat,no,Ashok Nagar,4.0,Not Provided,8321,5.0,2.0,2912.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037

In [124]:
data.tail()

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3,percentage_price,results
9492,House,yes,5th Block Jayanagar,4.0,Not Provided,10624,4.0,2.0,2340.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max)
2989,Flat,yes,Shanthala Nagar,5.0,Kierser,8321,5.0,3.0,2700.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max)
10800,House,yes,Sadashiva Nagar,5.0,Not Provided,9600,7.0,2.0,2736.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max)
12083,House,yes,Defence Colony,6.0,Not Provided,8000,6.0,3.0,2800.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max)
10187,Flat,no,Ashok Nagar,4.0,Not Provided,8321,5.0,2.0,2912.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max)

In [107]:
data = data.sort_values(by='price')
Q1 = data['price'].quantile(0.25)
Q2 = data['price'].quantile(0.50)
Q3 = data['price'].quantile(0.75)

def categorize_price(price):
    if price <= Q1:
        return 'min-Q1'
    elif price <= Q2:
        return 'Q1-Q2'
    elif price <= Q3:
        return 'Q2-Q3'
    else:
        return 'Q3-max'

data['percentage_price'] = data['price'].apply(categorize_price)

In [130]:
data = data.sort_values(by='price')
Q1 = data['price'].quantile(0.25)
Q2 = data['price'].quantile(0.50)
Q3 = data['price'].quantile(0.75)

def categorize_price(price):
    if price <= Q1:
        return 'min-Q1'
    elif price <= Q2:
        return 'Q1-Q2'
    elif price <= Q3:
        return 'Q2-Q3'
    else:
        return 'Q3-max'

data['percentage_price'] = data['price'].apply(categorize_price)

# Count each value and add to the percentage_price categories
counts = data['percentage_price'].value_counts()
data['counts_in_category'] = data['percentage_price'].map(counts)

In [131]:
data

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price,price_category,price_category2,price_category3,percentage_price,results,counts_in_category
9696,Flat,yes,Yelahanka New Town,1.0,KHatsFl,284,1.0,1.0,8.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
7942,House,yes,Chandapura,1.0,Not Provided,450,1.0,1.0,9.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
1390,House,no,Kengeri,1.0,Not Provided,340,1.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
6940,Flat,yes,Alur,1.0,Not Provided,470,2.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
11539,Flat,yes,Chandapura,1.0,Not Provided,410,1.0,1.0,10.0,cheap,low,low,min-Q1,Category 1 (min-Q1),3258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492,House,yes,5th Block Jayanagar,4.0,Not Provided,10624,4.0,2.0,2340.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
2989,Flat,yes,Shanthala Nagar,5.0,Kierser,8321,5.0,3.0,2700.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
10800,House,yes,Sadashiva Nagar,5.0,Not Provided,9600,7.0,2.0,2736.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
12083,House,yes,Defence Colony,6.0,Not Provided,8000,6.0,3.0,2800.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037
10187,Flat,no,Ashok Nagar,4.0,Not Provided,8321,5.0,2.0,2912.0,very expensive,very high,very high,Q3-max,Category 4 (Q3-max),3037

In [110]:
data.to_csv('new_data.csv', index=False)

In [ ]:
Flat	no	Electronic City Phase II	2.0	Coomee	1056	2.0	1.0	₹39.07